<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<div mat-dialog-content>
 <div class="row">
    <mat-form-field appearance="outline" class="col-md-5">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-5">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" type="text">
      </mat-form-field>
 </div>
 <div class="row">
    <mat-form-field appearance="outline" class="col-md-5">
        <mat-label>Email</mat-label> 
        <input matInput placeholder="Email" type="Email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-5">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" class="col-md-5">
        <mat-label>Date Of Birth</mat-label>
        <input matInput placeholder="Date Of Birth">
      </mat-form-field> -->
 </div>
 <div class="row" >
    <mat-radio-group aria-label="Select an option" appearance="outline" >
        <mat-label> Select Gender</mat-label>
        <mat-radio-button value="Male">Male</mat-radio-button><mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>

      <h4>subject</h4>
<mat-form-field appearance="outline" >
  <mat-label>Subject</mat-label>
  <mat-select matNativeControl required>
    <mat-option *ngFor="let val of subject" [value]="val" >{{val}}</mat-option>

  </mat-select>
</mat-form-field>

 </div>
 <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Hobby</h2>
  
      <section class="example-section">
        <mat-checkbox class="example-margin" >Gardening</mat-checkbox>  
        <mat-checkbox class="example-margin" >Fishing</mat-checkbox>  
        <mat-checkbox class="example-margin" >Raiding</mat-checkbox> 
      </section>
      </mat-card-content>
    </mat-card>

</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button color="primary">Cancel</button>
    <button mat-raised-button color="primary">save</button>

</div>
