<form #f ="ngForm" (ngSubmit)="addData(f)" >

    <input type="text" name="name" ngModel>
    <br>
    <input type="email" name="email" ngModel>
    <br>
    <input type="password" name="password" ngModel>
    <br>
    <button type="submit">Save</button>
  </form>

  <br><br>

  <ul>
    <li *ngFor="let data of userData | async">
   {{data.name}}&nbsp;/ &nbsp;{{data.email}}&nbsp; / &nbsp;{{data.password}}
   <button (click)="updateData(data.id)" >Edit</button>
   <button (click)="deleteData(data.id)">delete</button>
    </li>
  </ul>


  <!-- <form (submit)="saveUpdatedData()">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="updateForm.name" name="name">
    <label for="name">password:</label>
    <input type="text" id="password" [(ngModel)]="updateForm.password" name="password">
    <label for="name">Name:</label>
    <input type="text" id="email" [(ngModel)]="updateForm.email" name="email">
  
    
  
    <button type="submit">update</button>
  </form> -->
